.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 10px solid rgb(97, 196, 97);
  border-radius: 15px;
  background-color: rgba(105, 161, 97, 0.635);
}