
.m-container{
  margin: 0;
  padding: 0;
  background: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  z-index: 2;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 10px solid rgb(73, 145, 182);
  border-radius: 15px;
  /* background-color: rgba(105, 161, 97, 0.635); */
}
 