input{
    padding: 10px;
    border-radius: 15px;
    margin-right: 10px;
    font-size: 30px;
}
button{
    padding: 15px;
    border-radius: 15px;
    font-size: 20px;
    background-color: rgb(25, 111, 154);
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: white;
    color: black;
}
.main-container{
    grid-column: 2;
}
h1{
    font-size: 50px;
    color: rgb(7, 75, 91);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
h2{
    font-size: 30px;
    color: rgb(4, 37, 43);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}